/*
Project Name: Relaxr Landing Page
Author: Your Name
Front End Developer @GA in NYC
*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	font-weight: bold;
	color: #ffffff;
	font-size: 34px;
    letter-spacing: .5px;
    padding: 25px 0px 0px 80px;
}

.landing {
	background: url("../images/header_bg.jpg") no-repeat;
	background-size: 100%;
	height: 550px;
}

.tagline {
	font-weight: 600;
	font-size: 24px;
	color: #ffffff;
	text-align: center;
}

h2 {
	padding: 100px 0px 20px 0px;
    letter-spacing: 1px;
}

.button {
	background-color: #f9e42e;
	background-position: center;
	width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    border-radius: 3px;

}

#button {
	color: #121212;
	font-size: 22px;
	font-weight: 600px;
	padding: 10px;
}

.benefits {
	font-size: 18px;
	line-height: 1.5;
	padding-top: 40px;
	padding-left: 80px;
	letter-spacing: .5px;
	padding-bottom: 60px;
	height: 450px;
}

h3 {
	color: #033048;
	font-size: 29px;
	font-weight: 600;
	letter-spacing: .5px;
}

ul {
	list-style-type: disc;
	font-size: 20px;
	margin-left: 35px;
}

.quote {
	font-style: italic;
	color: #ffffff;
    font-size: 26px;
    text-align: center;
    letter-spacing: .5px;
    line-height: 1.5;
  	background: url("../images/testimonial_bg.jpg") no-repeat;
  	background-size: 100%;
  	height: 310px;
	position: relative;
	top: 50%;
	bottom: 50%; 
	padding-top: 20px;

}

.quote p {
	width: 440px;
	margin-left: auto;
	margin-right: auto;
  }

.quote span {
	font-weight: 600;
	font-style: normal;
}

.yellow {
	background-color: #f9e42e;
	height: 100px;
	padding-top: 5px;
	padding-bottom: 20px;
}

.signbutton p {
	background-color: #033048;
	background-position: center;
	width: 200px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    color: #ffffff;
    font-size: 22px;
	font-weight: 600;
	padding-top: 10px;
	text-align: center;
}

footer {
	background-color: #121212;
	height: 300px;
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
    font-size: 14px;
}

h4 {
	color: #f9e42e;
	font-weight: bold;
	font-size: 34px;
    letter-spacing: .5px;
}

